{% extends 'bootstrap/base.html' %}
{% block title %}List of Students{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">List of Students</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Student Info</h1>
        <table class="table table-hover">
    <tr>
        <th>Id</th>
        <th></th>
        <th>Name</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>
            {% set hl = student.id <= highlight['min'] %}
            {% if hl %}<b>{% endif %}
            {{ student.id }}
            {% if hl %}</b>{% endif %}
        </td>
        <td></td>
        <td>{{ student.name }}</td>
        <td></td>
    </tr>
    {% endfor %}
        </table>
    </div>
{% endblock %}

